<header class="h-full flex flex-col bg-hero-portrait sm:bg-hero-landscape bg-cover bg-center sm:bg-center relative">
  <div class="flex justify-center items-start">
    <img class="w-32" src="/images/home/logo.mobile.png" />
  </div>
  <div class="flex flex-col flex-1">
    <div class="flex flex-col items-center flex-2 pt-16 sm:pt-12">
      <h1 class="font-heading text-2xl sm:text-3xl uppercase pb-1 text-primary-200">{{ site.data.home.header.heading }}</h1>
      <p class="font-sans text-primary-100">{{ site.data.home.header.subHeading }}</p>
    </div>
    <div class="flex flex-col items-center justify-end flex-1 mb-10">
      <button>{{ site.data.home.header.cta }}</button>
    </div>
  </div>
  <div class="h-10 bg-hero-separator sm:bg-none absolute bottom-0 left-0 w-full" />
</header>
