<header class="h-full flex flex-col bg-hero-portrait hero-landscape:bg-hero-landscape bg-cover bg-center relative h-screen">
  <div class="flex justify-center items-start">
    <img class="w-32" src="/images/home/logo.mobile.png" />
  </div>
  <div class="flex flex-col flex-1">
    <div class="flex flex-col items-center justify-center h-64 hero-landscape:h-36">
      <h1 class="font-heading text-xl sm:text-3xl uppercase text-primary-200 text-center">{{ site.data.home.header.heading }}</h1>
      <p class="font-sans text-primary-100">{{ site.data.home.header.subHeading }}</p>
    </div>
    <div class="flex flex-col items-center justify-end flex-1 mb-20 hero-landscape:mb-12">
      <button class="cta">{{ site.data.home.header.cta }}</button>
    </div>
  </div>
  <div class="h-10 bg-hero-separator sm:bg-none absolute bottom-0 left-0 w-full" />
</header>
