<div class="flex flex-col relative">
  <h1 class="text-primary-800 text-2xl font-heading uppercase absolute top-36 sm:top-16 left-0 text-center w-full">
    {{ site.data.home.rewards.heading }}
  </h1>
  <img class="sm:hidden" src="/images/home/rewards.portrait.png" alt="rewards" />
  <div class="hidden sm:block bg-rewards-landscape-repeat bg-repeat-x bg-center bg-contain" style="height: 590px">
    <div class="bg-rewards-landscape bg-cover 2xl:bg-contain bg-no-repeat bg-center h-full"></div>
  </div>
  <div class="flex flex-col absolute justify-center items-center w-full -bottom-6 left-0">
    <button class="cta">{{ site.data.home.rewards.cta }}</button>
  </div>
</div>
